<ion-content [fullscreen]="true" class="wrapper-autenticazione">
  <div class="container-autenticazione">
    <button class="btn-back" (click)="goTo('/')">
      <ion-icon name="arrow-back-outline"></ion-icon>
      Torna alla home
    </button>

    <div class="card-autenticazione">
      <div class="logo-auth">
        <div class="row-logo">
          <ion-icon name="calendar-outline" class="icon-logo"></ion-icon>
          <span class="name-logo">UniMeet</span>
        </div>
        <p class="sub-logo">Accedi al tuo account</p>
      </div>
      @if (errorMessage) {
        <div class="banner-errore">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <span>{{ errorMessage }}</span>
        </div>
      }
      <form [formGroup]="loginForm" (ngSubmit)="effettuaLogin()">
        <div class="gruppo-campo">
          <label class="label-campo">Email universitaria</label>
          <div class="wrap-campo" [class.has-error]="email.invalid && email.touched">
            <ion-icon name="mail-outline" class="icon-campo"></ion-icon>
            <ion-input type="email" formControlName="email" placeholder="nome.cognome@univ.it"
              class="input-campo"></ion-input>
          </div>
          @if (email.invalid && email.touched) {
            <span class="messaggio-errore-campo">
              @if (email.errors?.['required']) { L'email è obbligatoria }
              @if (email.errors?.['email']) { Formato email non valido }
            </span>
          }
        </div>
        <div class="gruppo-campo">
          <label class="label-campo">Password</label>
          <div class="wrap-campo" [class.has-error]="password.invalid && password.touched">
            <ion-icon name="lock-closed-outline" class="icon-campo"></ion-icon>
            <ion-input type="password" formControlName="password"
              placeholder="Inserisci la password" class="input-campo"></ion-input>
          </div>
          @if (password.invalid && password.touched) {
            <span class="messaggio-errore-campo">
              @if (password.errors?.['required']) { La password è obbligatoria }
              @if (password.errors?.['minlength']) { Minimo 6 caratteri }
            </span>
          }
        </div>
        <div class="options-form">
          <ion-checkbox formControlName="rememberMe" labelPlacement="end" class="remember-check">
            Ricordami
          </ion-checkbox>
          <button type="button" class="btn-link" (click)="goTo('/recupera-password')">
            Password dimenticata?
          </button>
        </div>
        <ion-button expand="block" type="submit" class="btn-submit" [disabled]="inCaricamento">
          @if (inCaricamento) {
            <ion-spinner name="crescent" slot="start"></ion-spinner>
          } @else {
            <ion-icon name="log-in-outline" slot="start"></ion-icon>
          }
          {{ inCaricamento ? 'Accesso in corso…' : 'Accedi' }}
        </ion-button>

      </form>

      <p class="hint-switch">
        Sei uno studente e non hai ancora un account?
        <button class="btn-link bold" (click)="goTo('/registrazione')">Registrati</button>
      </p>

    </div>
  </div>
</ion-content>
