<ion-header>
  <ion-toolbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
  <ion-toolbar class="segment-toolbar">
    <ion-segment [value]="activeSegment" (ionChange)="onSegmentChange($event)">
      <ion-segment-button value="dashboard">
        <ion-label>Dashboard</ion-label>
      </ion-segment-button>
      <ion-segment-button value="utenti">
        <ion-label>Gestione Utenti</ion-label>
      </ion-segment-button>
      <ion-segment-button value="slot">
        <ion-label>Slot</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet [animated]="false"></ion-router-outlet>
</ion-content>
